html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #202935;
    cursor: default;
}
.name{
    padding: 5px;
    font-style: italic;
}

.init{
    font-style: oblique;
    padding: 5px;
}

.hp{
    font-weight: bold;
    padding: 5px;
}

.del{
    margin-left: 5px;
}

#topbutts{
    float: left;
    top: 120px;

}
#main list{
    float: left;
    margin: 100px;
}

button{
    margin-left: 10px;
}

#botbutts{
    margin: 1px;
}

#holder{
    top: -145px;
    left: 220px;
    width: 200px;
    position: relative;

}

#error{
    position: absolute;
    color: red;
    width: 300px;
}

#closetodeath{
    background-color: #8e1616;
    border-radius: 25%;
    border-color: black;
}

#newCr{
    position: relative;
    left: 12px;
}

#initTracker{
    position: absolute;
    left: 20px; top: 20px;
    background-color: gainsboro;
    padding: 2%;
}
#diceroller{
    position: absolute;
    top: 5%;
    right: 10%;
    width: 200px;
    padding: 2%;
    color: black;
    background-image: linear-gradient(#D60270, #9B4F96, #0038A8);
}
#roll_display{
    top: 50px;
    right: 10%;
}
#roller_gui{
    position: relative;
    float: left;
}
#output{
    font-weight: bold;
    font-size: 14pt;
    position: relative;
    top: 12px;
    font-style: italic;
    text-shadow:
    -1px -1px 0 #4ac2b0,
    1px -1px 0 #4ac2b0,
    -1px 1px 0 #4ac2b0,
    1px 1px 0 #4ac2b0;
}
#rolls{
    font-style: italic;
}
#mainlist{
    font-size: 20px;
}
#{
    text-decoration: underline;
}
#genocide{
    background-color: black;
    border-radius: 10%;
    border-color: red;
    color: #8e1616;
}
#pregens{
    background-color: yellow;
    padding: 10px;
}
#pregens div{
    padding: 3px;
}

#pregens button{
    margin: 4px;
    margin-left: 10px
}

.currInit{
    color:red;
    font-weight:bold;
    font-size: 21px;
}
.pastRolls{
    color: #8e1616;
    padding: 5px;
}
#rollError{
    position: relative;
    color: #72bfd6;
    padding: 5px;

    text-shadow:
    -1px -1px 0 #82160a,
    1px -1px 0 #82160a,
    -1px 1px 0 #82160a,
    1px 1px 0 #82160a;
    top: 25px;
}

#stat_head{
    text-decoration: underline;
}

#nameGen{
    position: absolute;
    left: 525px;
    top: 50px;
    width: 350px;
    height: 450px;
    resize: vertical;
    border: 10px;
    border: inset;
    border-color: brown;
}

#rickRoll{
    position: absolute;
    top: 5%;
    right: 1%;
    color: #202935;
    border: 0px;
}

@keyframes attentionGrab{
    0% {font-size: 12px}
    50% {font-size: 15px}
    100% {font-size: 12px}
}
.empha{
    background-color: #f2e721;
    color: #0b1584;
    padding: 4px;
    animation-name: attentionGrab;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#xLine{
    width:100%;
    height:2px;
    background-image: repeating-radial-gradient(white, black);
}